* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .hide-on-small {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-on-large {
    display: none;
  }
}