.container {
  margin-left: 260px;
  margin-top: 50px;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  height: calc(100vh - 80px - 2rem);
  font-family: sans-serif;
  overflow-y: auto;
}

.title {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.section {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.chart_container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1;
}

.chart_pills {
  background-color: #fef9e5;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
}

.chart_pills span {
  color: #62d2d6;
  margin-right: 5px;
}

.app_container {
  width: 450px;
}

.guide_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.guide_container p {
  font-size: 14px;
  font-weight: 500;
  color: grey;
}

.mock_container {
  padding: 1rem;
  background-color: white;
  margin-top: 1rem;
  border-radius: 10px;
}

.mock_container h4 {
  font-size: 18px;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.mock_container p {
  color: grey;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.mock_container button {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: #135ade;
  border: unset;
  border-radius: 1rem;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.mock_container button:hover {
  background-color: #4879d4;
}



@media screen and (max-width: 1536px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: unset;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 640px) {
  .section {
    flex-direction: column;
  }
  .app_container {
    width: unset;
  }
}

@media screen and (min-width: 640px) {
  /* .mob_container {
    display: none;
  } */
}